
.navbar-custom {
    background-color: #000;
    color: #FFD700;
}
.navbar-custom a {
    color: #FFD700;
}

.form-container {
    padding: 20px;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.form-container label,
.form-container input,
.form-container textarea,
.form-container button {
    margin-bottom: 15px;
}
.footer-custom {
    background-color: #000;
    color: #FFD700;
}
.footer-custom a {
    color: #FFD700;
}

