h5 {
  font-size: 20px; 
  
  font-weight: bold; 
  font-family: Arial, Tahoma, sans-serif; 
}

p {
  text-align: justify;
}

.col-md-3 img {

  width: 150px;  /* Largura */
  height: 150px; /* Altura */
  margin: auto;
  display: block;
}
 

.row.equal {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1 0 auto;
}
